/* Instellingen om fouten te helpen vinden, uncomment om aan te zetten */

* {                                          /* geldt voor alles */
    /* border: 1px dotted black;         */  /* zorg dat elke box een gestippelde rand krijgt, zodat je de afmeting goed kunt zien, letop dat dit de layout soms kan wijzigen */
    /* background-color: rgba(0,0,0,5%); */  /* zorg dat elke box een doorzichtige donkere achtergrond krijgt, hoe meer boxen in elkaar hoe donkerder de achtergrondkleur */
}

/* Basisinstellingen voor alle pagina's, alleen aanpassen als je pro wilt worden */

html, body {
    height: 100%;
    padding: 0;
    background-image: url('afbeeldingen/AG1.jpg');
    background-repeat: repeat;
    background-attachment: fixed;
    background-size: 100% 100%;

    color: rgb(red)
    font: flama;
    }

body * {                          /* geldt voor alles in body */
  overflow: hidden;               /* zorgt dat DIV en andere block elementen de hoogte krijgt van wat erin zit (anders is het soms 0) */
  box-sizing: border-box;         /* zorg dat border meetelt bij de width en height van boxen */
  margin: 0px;                    /* standaard marge 0 */
}
j,ol
ndeling voor alle pagina's */

.center {
  margin: auto;
  width: 50%;
  border: 3px solid green;
  padding: 10px;
}

.page {
  width: 700px;                   /* vaste breedte van 700 pixels */
  margin: 10px auto;              /* boven en onder 0 pixels marge, links en rechts marge gelijk verdeeld (gecentreerd) */
}

header, footer {                  /* geldt voor header en footer */
  margin: 10px 0px;
}

main {                       
  text-align: justify;            /* tekst uitvullen */}

h1, h2, h3 {                      /* geldt voor h1 en h2 en h3 */
  margin: 10px 0px;
  text-align: center;     
  
} 


p { 
        font-size:14px; 
        font-family:Arial, Helvetica, sans-serif;
        font-weight:normal;
        font-style:normal;
        line-height:18px;
        color:#ffffff;
}

  
  /* Indeling voor hoofd pagina */

.kolomLinks {
  float:left;
  width:250px;
  padding-right:15px;           /* afstand tussen plaatje en rechterkolom */
}
.kolomRechts {
  float:left;
  width: 450px;
}
.kolomStop {
  clear:both;                   /* stop met floaten */
}

/* Opmaak voor alle pagina's */

h1, h2, h3 {
      color: #ffffff;
}

.smalltext {
    text-align: center;
    font-size: 0.7em;
}

a {
    color: whitesmoke;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

table, th, td {
  border: 2px solid darkred;
  border-collapse: collapse;
}
th, td {
  background-color: whitesmoke;
}

/* Navigatiebalk voor alle pagina's */
nav ul {
    list-style-type: none;
    margin: auto;
    padding: 0;
    background-color: #b51a00;
    overflow: hidden;
}

nav ul li {
    float: left;
}

nav li a {
    display: block;
    color: #919191;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav li a:hover {
    background-color: #ff3f12;
}

nav li a.active {
    background-color: #ff2600;
}
